In [ ]:
import numpy as np

In [ ]:
def random_list(size):
  list = []
  for i in range(size):
    list.append(np.random.randint(10,50))
    return list

def sum_random(list):
  sum = 0
  for i in range(len(list)):
    sum = sum + list[i]
    return sum

In [ ]:
num = 5
numb = 15

if num < 5 and numb > 15:
 print(num, numb, "Invalid entry")


n = int(input("Enter an integer value between 5 and 15: "))

In [ ]:
MyList = random_list(n)
MyList

[27]

In [20]:
MySum = sum_random(MyList)
MySum

27

In [31]:
MyList2 = np.random.randint(10, 50, n)
MyList2

Result1 = 'The elements in the array are:'
print(Result1, MyList2)

The elements in the array are: [49 32 42 16 49 29 10 13 22 13]

In [32]:
MySum2 = sum(MyList2)
MySum2

Result2 = 'The sum is:' 
print(Result2, MySum2)

The sum is: 275